.chart-scroll::-webkit-scrollbar {
  width: 6px;
}

.chart-scroll::-webkit-scrollbar-thumb {
  background-color: #323232;
  border-radius: 8px;
}

.chart-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #323232;
}
