.line-div{
    width: 100%;
    margin-top: 8%;
    height: 10vh;
    position: relative;
}

/* 600 or less */
@media only screen and (max-width: 700px) {
    .line-div{
        margin-top: 15%;
    }
}