.winery-paper{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}
.winery-information{
    width: 100%;
    height: 100%;
}
.winery-name{
    text-align: center;
    color: #9400d3;
    padding-top: 50px;
    position: absolute;
    top: 5%;
    width: 100%;
}
.winery{
    text-align: center;
    position: absolute;
    color: white;
    top: 6%;
    width: 100%;
}
.statistic{
    height: 33%;
    width: 100%;
}
.score{
    text-align: center;
    color: #1ecbe1;
    padding-top: 10%;
}
.average-rank-sub-header{
    text-align: center;
    color: #666;
    font-size: 0.8vw;
}
.high-price{
    text-align: center;
    color: #1ecbe1;
    padding-top: 10%;
}
.low-price{
    text-align: center;
    color: #1ecbe1;
    padding-top: 10%;
}
.average-price-sub-header{
    text-align: center;
    color: #666;
    font-size: 0.8vw;
}
.tooltip{
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: 150px;										
    background: #151d1e;
    border: 0px;		
    border-radius: 8px;
}

.tooltip h5{
    margin-top: 0;
    color: #1ecbe1;
}
.tooltip h4{
    color: #1ecbe1;
}
#winery-link{
    color: red;
}