.wine-information{
    float: left;
    height: 100%;
    width: 30%; 
}

.wine-text{
    padding-top: 75px;
    height: 100%;
    width: 55%;
    float: left;
    
}

/* 600 or less */
@media only screen and (max-width: 800px) {
    .wine-information{
        display: none;
    }
    .wine-text{
        width: 85%;
        justify-content: center;
        margin: 10%;
        padding-top: 25px;
        float: unset;
    }
  }