html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Manrope", "Manrope Placeholder", sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fff;
  background-color: rgb(5, 5, 5);
}
h1,
h2,
h3,
h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

p,
span,
text,
.MuiTypography-root {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  background-color: rgb(5, 5, 5);
  height: 100%;
  width: 100%;
}
